<!-- Twitter -->
<article class="articleScrap">
    <aside class="asideScrap">
        Dan @ Twitter
    </aside>
    
    <section class="sectionScrap">
        <a href="{{ site.twitter }}" target="_blank"><img src="/images/twitter.png" width="16px" alt="Twitter" title="Twitter" class="imgScrap" /></a>
        <br />
        Dan @ Twitter: <a href="{{ site.twitter }}" target="_blank">@danshan</a>
    </section>
</article>

<!-- Linkedin -->
<article class="articleScrap">
    <aside class="asideScrap">
        Dan @ Linkedin
    </aside>
    
    <section class="sectionScrap">
        <a href="{{ site.linkedin }}" target="_blank"><img src="/images/linkedin.png" width="16px" alt="Linkedin" title="Linkedin" class="imgScrap" /></a>
        <br />
        Dan @ Linkedin: <a href="{{ site.linkedin }}" target="_blank">linkedin/shanhh</a>
    </section>
</article>

<!-- GitHub -->
<article class="articleScrap">
    <aside class="asideScrap">
        Dan @ GitHub
    </aside>
    
    <section class="sectionScrap">
        <a href="{{ site.github }}" target="_blank"><img src="/images/github.png" width="16px" alt="GitHub" title="GitHub" class="imgScrap" /></a>
        <br />
        Dan @ GitHub: <a href="{{ site.github }}" target="_blank">github/danshan</a>
    </section>
</article>

<!-- about.me -->
<article class="articleScrap">
    <aside class="asideScrap">
        Dan @ GitHub
    </aside>
    
    <section class="sectionScrap">
        <a href="{{ site.aboutme }}" target="_blank"><img src="/images/aboutme.ico" width="16px" alt="AboutMe" title="AboutMe" class="imgScrap" /></a>
        <br />
        Dan @ About.Me: <a href="{{ site.github }}" target="_blank">about.me/shanhonghao</a>
    </section>
</article>

<!-- weibo -->
<article class="articleScrap">
    <aside class="asideScrap">
        Dan @ Weibo
    </aside>
    
    <section class="sectionScrap">
        <a href="{{ site.weibo }}" target="_blank"><img src="/images/weibo.png" width="16px" alt="Weibo" title="Weibo" class="imgScrap" /></a>
        <br />
        Dan @ Weibo: <a href="{{ site.weibo }}" target="_blank">@单弘昊</a>
    </section>
</article>